<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDISMOVJava"
        tools:replace="icon"
        tools:targetApi="31">
        <activity
            android:name=".ServiciosActivity"
            android:exported="false" />
        <activity
            android:name=".Carrito"
            android:exported="false" />
        <activity
            android:name=".AgregarProductos"
            android:exported="false" />
        <activity
            android:name=".ManualADP"
            android:exported="false" />
        <activity
            android:name=".ManualCO2"
            android:exported="false" />
        <activity
            android:name=".ManualPQS"
            android:exported="false" />
        <activity
            android:name=".ManualesPDF"
            android:exported="false" />
        <activity
            android:name=".ExtintoresStock"
            android:exported="false" />
        <activity
            android:name=".videocall"
            android:exported="false" />
        <activity
            android:name=".AdminInicioDeSesion"
            android:exported="false" />
        <activity
            android:name=".ActividadContacto"
            android:exported="false" />
        <activity
            android:name=".UsersActivity"
            android:exported="false" />
        <activity
            android:name=".Productos"
            android:exported="false" />
        <activity
            android:name=".ExtintoresCO2"
            android:exported="false" />
        <activity
            android:name=".ExtintoresADP"
            android:exported="false" />
        <activity
            android:name=".ExtintoresPQS"
            android:exported="false" />
        <activity
            android:name=".CrearAdmins"
            android:exported="false" />
        <activity
            android:name=".ActividadDelChat"
            android:exported="false" />
        <activity
            android:name=".models.ListOfChatsActivity"
            android:exported="false" />
        <activity
            android:name=".models.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".VideoLlamada"
            android:exported="false" />
        <activity
            android:name=".ActividadDelAdministrador"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".InicioDeSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>